Repository polypheny/Polypheny-DB, pull requests merged in 2019-12, with the labels that each got.

#115 Various tweaks of the build files
  cassandra-adapter/build.gradle
  catalog/build.gradle
  config/build.gradle
  core/build.gradle
  csv-adapter/build.gradle
  druid-adapter/build.gradle
  elasticsearch-adapter/build.gradle
  file-adapter/build.gradle
  geode-adapter/build.gradle
  information/build.gradle
  jdbc-adapter/build.gradle
  jdbc-interface/build.gradle
  mongodb-adapter/build.gradle
  pig-adapter/build.gradle
  pig-parser/build.gradle
  webui/build.gradle
Labels: A-core, C-enhancement, P-low, S-waiting-on-review

#146 Improve settings management in stores + minor fixes to Store
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/Store.java
  csv-adapter/src/main/java/ch/unibas/dmi/dbis/polyphenydb/adapter/csv/CsvStore.java
  jdbc-adapter/src/main/java/ch/unibas/dmi/dbis/polyphenydb/adapter/jdbc/stores/HsqldbStore.java
  jdbc-adapter/src/main/java/ch/unibas/dmi/dbis/polyphenydb/adapter/jdbc/stores/PostgresqlStore.java
Labels: A-stores, C-enhancement

#144 Use types instead of ids in catalog
  catalog/src/main/java/ch/unibas/dmi/dbis/polyphenydb/catalog/Statements.java
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/catalog/Catalog.java
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/catalog/entity/CatalogDatabase.java
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/catalog/entity/CatalogDefaultValue.java
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/catalog/entity/CatalogForeignKey.java
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/catalog/entity/CatalogIndex.java
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/catalog/entity/CatalogKey.java
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/catalog/entity/CatalogTable.java
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/catalog/entity/CatalogUser.java
  dbms/src/test/java/ch/unibas/dmi/dbis/polyphenydb/jdbc/JdbcMetaTest.java
  jdbc-adapter/src/main/java/ch/unibas/dmi/dbis/polyphenydb/adapter/jdbc/JdbcSchema.java
  jdbc-interface/src/main/java/ch/unibas/dmi/dbis/polyphenydb/jdbc/DbmsMeta.java
  webui/src/main/java/ch/unibas/dmi/dbis/polyphenydb/webui/Crud.java
Labels: A-core

#150 Background task scheduler
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/StoreManager.java
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/util/background/BackgroundTask.java
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/util/background/BackgroundTaskHandle.java
  core/src/main/java/ch/unibas/dmi/dbis/polyphenydb/util/background/BackgroundTaskManager.java
  dbms/src/main/java/ch/unibas/dmi/dbis/polyphenydb/information/JavaInformation.java
  jdbc-adapter/src/main/java/ch/unibas/dmi/dbis/polyphenydb/adapter/jdbc/stores/AbstractJdbcStore.java
  jdbc-interface/src/main/java/ch/unibas/dmi/dbis/polyphenydb/jdbc/DbmsMeta.java
Labels: A-core, C-enhancement
